.title, .subtitle, .section-title {
  color: map-get(map-get($colours, text), dark);
  line-height: 1;
}

.subtitle {
  font-size: 2.6rem;
  font-weight: 500;
  margin-bottom: 3.5rem;
}

.title {
  font-size: 11rem;
  font-weight: 500;
  letter-spacing: -3.5px;

  &__line {
    display: block;
    margin-bottom: 6rem;

    &:last-of-type {
      margin-left: 36rem;
      margin-bottom: 0px;
    }
  }
}

.summary, .description {
  color: map-get(map-get($colours, text), dark);
  max-width: 50%;
}

.summary {
  font-size: 3rem;
  line-height: 5rem;
}

.description {
  font-size: 2rem;
  line-height: 3.5rem;
  margin-top: 3rem;
}

.section-title {
  font-size: 7.2rem;
  line-height: 1;
  letter-spacing: -2px;
  font-weight: normal;
  
  &__line {
    display: block;
    margin-bottom: 1.5rem;

    &:last-of-type {
      margin-left: 8rem;
      margin-bottom: 0px;
    }
  }

  &.sticky {
    position: sticky;
    top: 3rem;
  }
}