* {
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  color: map-get(map-get($colours, text), light);
  font-family: map-get($typography, main), map-get($typography, fallback);
  overflow-x: hidden;
}