.card {
  display: block;

  &__inner {
    padding-top: 4rem;
  }
  
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.4rem;
  }

  &__title {
    font-size: 3.6rem;
    line-height: 1;
    color: map-get(map-get($colours, text), dark);
    font-weight: normal;
  }

  &__arr {
    width: 5.4rem;
    height: 5.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &::before {
      content: "";
      display: block;
      background-color: map-get(map-get($colours, brand), green);
      position: absolute;
      border-radius: 50%;
      transition: $transition;
      height: 0;
      width: 0;
    }
  }

  &__icon {
    width: 3.4rem;
    height: 2.8rem;
    color: map-get(map-get($colours, text), dark);
    transition: $transition;
  }

  &__tags {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__tag {
    color: map-get(map-get($colours, text), light);
    display: inline-flex;
    align-items: center;

    &::before {
      content: "";
      display: inline-block;
      width: .5rem;
      height: .5rem;
      border-radius: 50%;
      background-color: map-get(map-get($colours, text), light);
      margin-inline: 1rem;
    }

    &:first-of-type {

      &::before {
        content: none;
      }
    }
  }

  &:hover {

    .card__arr {

      &::before {
        height: 100%;
        width: 100%;
      }
    }

    .card__icon {
      transform: rotate(-45deg);
      color: map-get(map-get($colours, utils), white);
    }
  }

  &__image {
    width: 100%;
  }
}