.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5rem;
  z-index: 100;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.nav {

  &-menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &-item {
    margin-right: 5rem;

    &:last-child {
      margin-right: 0px;
    }

    &:hover {
    
      .nav-link {
        color: map-get(map-get($colours, brand), green);
      }
    }
  }

  &-link {
    color: map-get(map-get($colours, text), dark);
    transition: $transition;
    font-weight: 500;
    position: relative;
    display: inline-flex;
    align-items: center;

    &:hover {
      color: map-get(map-get($colours, brand), green);
    }
  }

  &-icon {
    margin-left: .5rem;
  }
}

.active-link {
  
  &::before {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    background-color: map-get(map-get($colours, brand), green);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: -7px;
    transform: translateX(-50%);
  }
}

.dropdown {

  &-panel {
    position: absolute;
    padding-top: 20px;
    transition: $transition;
    max-height: 0px;
    overflow: hidden;
  }

  &-menu {
    background-color: map-get(map-get($colours, utils), white);
    padding: 1.5rem;
    border-radius: $border-radius;
    border: 1px solid map-get(map-get($colours, utils), border);
    width: 18rem;
    display: flex;
    flex-direction: column;
  }

  &-link {
    padding: 1rem;
    display: flex;
    align-items: center;
    transition: $transition;
    border-radius: $border-radius;
    cursor: pointer;

    &.dribbble-link {
      
      &:hover {
        background-color: rgba(map-get(map-get($colours, icons), github), .10);
      }
    }

    &.linkedin-link {
      
      &:hover {
        background-color: rgba(map-get(map-get($colours, icons), linkedin), .10);
      }
    }

    &.gmail-link {
      
      &:hover {
        background-color: rgba(map-get(map-get($colours, icons), gmail), .10);
      }
    }
  }

  &-icon {
    width: 2.6rem;
    height: 2.6rem;
    margin-right: 1rem;
  }

  &-text {
    color: map-get(map-get($colours, text), light);
  }

  &:hover {

    .dropdown-panel {
      max-height: 200px;
    }
  }
}