.projects {
  background-color: map-get(map-get($colours, utils), offwhite);
  padding-top: 12rem;
  padding-bottom: 12rem;

  .row {
    
    &:first-of-type {
      align-items: flex-end;
      margin-bottom: 8rem;
    }

    &:last-of-type {
      align-items: flex-start;
    }
  }
}

.navigation-inn {
  margin-top: 15rem;
}